<h1> Assign {{user.name}} a Consultant </h1>
<h1>{{user._id}}</h1>
<div class = "container-fluid">
{{#each consultants}}
<div class="container-fluid">
<h3> {{this.name}} </h3>
<h3> {{this.school}} </h3>
<p> {{this.calendarUrl}} </p>
<form class="admin-form" method="POST" action='{{postRoute}}'>
<input type="hidden" name="calendarUrl" placeholder="calendarUrl" value={{this.calendarId}}> </input>
<button name="consultant" value="{{this._id}}" class="admin-form btn btn-primary" type="submit"> Assign as {{user.name}} consultant</button>
</form>
</div>
{{/each}}
<br>
<a class = "btn btn-danger" href="/admin">Back to Admin Page</a>
</div>
