<h1> Order Confirmation: Thank you for your purchase {{user.name}} </h1>

Order id: {{paymentId}}<br>

Total: {{amount}} USD<br>

Product Id: {{productId}} USD<br>

Email: {{email}} USD<br>

<h3> Credit Card Info </h3>
Last 4 Digits: {{charge.stripeLast4}}<br><br>
Expiration Date: {{charge.stripeExpMonth}}/{{charge.stripeExpYear}}<br>

<a href= "/">Go Home </a>
