<h1 style="text-align: center; color:black; font-family: 'Montserrat', sans-serif; font-size: 42px;">Your Upcoming Sessions</h1>
<div style='text-align: center;' class = "align-text-center center-block container-fluid upcoming-consultations">
  <h2 style="text-align: center; color:maroon; font-family: 'Montserrat', sans-serif; font-size: 32px;"> UPCOMING CONSULTATIONS </h2>
{{#each upcoming}}
<div style='border: solid 1px black' class = "center-block container-fluid">
<h5>Consultation with your Consultant</h3>
<h5>Duration: {{this.duration}} Minutes </h3>
<h5>Time: {{this.time}} </h5> <br>
<form method="POST" action="/consultation/reschedule/{{this._id}}">
  <button style="margin:10px" type="submit" class="btn btn-danger">Cancel Session</button>
</form>
</div>
{{/each}}
</div>
<div style='text-align: center;' class = "align-text-center center-block container-fluid upcoming-consultations">
  <h2 style="text-align: center; color: indianred; font-family: 'Montserrat', sans-serif; font-size: 32px;"> PAST CONSULTATIONS </h2>
{{#each past}}
<div style='border: solid 1px black; padding: 10px' class = "center-block container-fluid">
<!-- <h5>Consultation: {{this._id}}</h5> -->
<h5>Duration: {{this.duration}} Minutes </h5>
<h5>Time: {{this.time}} </h5>

<!-- <form method="POST" action="/consultation/review/{{this._id}}"> -->
<a target="_blank"  href="https://docs.google.com/forms/d/e/1FAIpQLSex26Ycc2t3FpTaUJ3GQHPsiB6oO8WzoW_Jgv2tX2faBKW2Xg/viewform?usp=sf_link"
class="btn btn-primary">Review Session</a>

<!-- </form> <br> -->
</form>
</div>
{{/each}}
</div>
